
.row{
	display:flex;
	/*height:100%;*/
	align-items:center;
	}
 
 .col{
	flex-basis:60%;
	text-align:center;
	display:block;
	 color: coral;
	 margin-left: 3em;
	 font-family:papyrus;
	 background-color: aquamarine;
	border:3px white solid;
	/*padding:5px;*/
	border-radius:10px;
	margin:10px;
 }
 
 body{
	 margin:0px;
	 padding:0px;
	font-family:papyrus;
	font-size:20px;
	color:coral;
	background-color:rgb(205 255 255);	
 }
 
 
 .card{
	 width:200px;
	 height:230px;
	 display:block-inline;
	 border-radius:10px;
	 padding:15px 25px;
	 box-sizing:border-box;
	 cursor:pointer;
	 margin:40px 15px;	
	 background-position:center;
	 background-size:cover;
	 border:3px white solid;
 }
	.hare{
	 background-image:url("harealone.png");	 
}
	.home{
	  background-image:url("nature.jpg");
  }
  
  img{
	
	 width:105%;
	
	  
	  }
	  
	   nav{
  	text-align:center-right;
	background-color:aliceblue;
	padding:5px;
	width:1500px;

  }
  
  nav ul li{
	  list-style: none;
	  display:inline-block;
	  margin-left:50px;
	 	}
  
  nav ul li a{
	  text-decoration:none;
	   font-family:comic;
	   color:coral
	  
	  
  }
   .sign{
		color:red;
		font-family:papyrus;
		text-align:center;
		  }